html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: url('../img/685.jpg') 100% 100% no-repeat; /* Добавляем фон */
    background-size: cover; /* Масштабируем фон */
}

.container {
    text-align: center;
}

.card-text {
    color: red;
    font-weight: 800;
    font-size: 2rem;
}

.title {
    margin: 50px;
}

select {
    margin: 20px auto;
    width:auto;
}

.covid-card {
    background-color: rgba(224, 234, 252, .5);
    box-shadow: -1px 17px 26px 4px rgba(5,5,5,0.5);
}

.card {
    margin: 10px;
    border-radius: 5px;
}

img {
    border: 3px solid rgba(5,5,5,0.5);
}

@media only screen and (max-width: 800px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
  }